.gitignore
_site/LICENSE
_site/README.md
_site/assets/css/style.css
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.eot
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.svg
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.ttf
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff2
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.eot
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.svg
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.ttf
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff2
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.eot
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.svg
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.ttf
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff2
_site/assets/img/logo.png
_site/assets/js/scale.fix.js
_site/images/CERD_5-8-2020.pdf
_site/images/Industry Resume.pdf
_site/images/OH-Bot.png
_site/images/pfp.jpg
_site/images/pusheen.png
_site/images/pusheenPFP.png
_site/index.html
_site/index.md
_site/nohup.out
_site/sample_page.html
_site/sample_page.md
nohup.out
_site/404.html
_site/atom.xml
_site/index.html.bak
_site/public/apple-touch-icon-144-precomposed.png
_site/public/css/hyde.css
_site/public/css/poole.css
_site/public/css/syntax.css
_site/public/favicon.ico
index.html.bak
_site/Makefile
_site/images/candid.jpg
_site/images/vest.png
_site/images/vest.source.jpg
